#main-container {
  max-width: 100vw;
  min-width: 800px;
}

#frame-container {
  width: 20%;
  float: left;
}

#image-container {
  width: 80%;

  display: inline-block;
  height: 100vh;

  app-action-pane {
    margin: auto;
  }
}
